beniget==0.5.0
gast>=0.5.0
complexipy>=1.0.0
cosmic-ray==8.4.6
coverage==7.14.1
pytest-cov>=6.1.0
crosshair-tool>=0.0.109
pip-audit==2.10.1
pylint==4.0.6
pymcdc==0.2.5
radon==6.0.1
lizard==1.17.10
semgrep>=1.172.0
bandit==1.8.3
pytest-testmon==2.2.0
pytest>=7.0
